# File types
*.env.sh
*__pycache__*
*.egg-info
*.png

# Folders
.vscode/
.gradio/
local/
wandb/
logs/
eval_results/
outputs/
results/
recipe/experiments/
script/evaluation/deprecated/
run.sh
test.py
script/analysis/oracle/
script/train/SFT_train_debug.py