# File types
*.env.sh
*__pycache__*
*.egg-info

# Folders
local/
wandb/
logs/
recipe/experiments/
eval_results/
.vscode/
outputs/
results/
teacher_datasets/
cot_eval_results/
lm_eval_pipeline/
tmp/
script/analysis/venn/venn_results/
run.sh
test.py
proj_ablation/
filtered_data_results/
MMMLU_results/
script/analysis/gate_logit/
BASELINE_LORA_README.md
inkuba.py
script/dataset/filter_version1/
script/train/SFT_train_debug.py
oracle/
script/evaluation/deprecated/
.vscode/
build/
script/dataset/create/qwen3_nonthinking.jinja
assigned_by_score.csv
routing/
new_tsne_outputs/
full_vs_no_gate/
routellm/
mmlu_redux_acc_time.png
script/analysis/scaling/*.png
script/proportion/*.png
figures/
script/test
test/